@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as ngx-variables;

.richTextCont{
    display: grid;
    grid-template-columns: 1fr;
    
    .ql-editor{
        height: inherit;
        width: inherit;

        ::ng-depp {
            img{
                object-fit: scale-down;
                max-height: 100% !important;
                max-width: 100% !important;
            }
        }
    }

    &.inner_padding_sm{
        padding: ngx-variables.$spacing-md;
    }
    &.inner_padding_md{
        padding: ngx-variables.$spacing-lg;
    }
    &.inner_padding_lg{
        padding: ngx-variables.$spacing-xl;
    }
}

::ng-deep .ql-editor{
    img{
        max-width: 100%; 
    }
}