@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as variables;
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as mixins;
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as functions;

:host{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 1rem;
}
 pep-rich-html-textarea{
    //border: 1px solid functions.get-pep-color(color-system-primary, color-base);
    
   // padding:  0 variables.$spacing-sm variables.$spacing-sm;
    //background-color: functions.get-pep-color(color-weak, color-tran-30);
    white-space: nowrap;
    ::ng-deep .mat-form-field-wrapper{
        border-radius: variables.$border-radius-md;
        background: functions.get-pep-color(color-weak, color-tran-30) !important;
    }
    
 }

 pep-flow-picker-button{
    ::ng-deep.flow-button{
        margin-bottom: variables.$spacing-lg;
    }
 }

.ql-editor{
    padding: 0 !important;
}
