@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/variables' as variables;
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/mixins' as mixins;
@use '@pepperi-addons/ngx-lib/src/core/style/abstracts/functions' as functions;

:host{
    display: block;    
}

.ql-editor{
    padding: 0 !important;
}
pep-rich-text{
    white-space: nowrap;
    
    ::ng-deep {
        pep-rich-html-textarea {
            margin-bottom: 0 !important;
        }

        .rich-text-cont {
            padding-left: .5rem !important;
        }
        
        .mat-form-field-wrapper{
            border-radius: variables.$border-radius-md;
            background: functions.get-pep-color(color-weak, color-tran-30) !important;
        }
        .quill-editor-image-btn{
            display: none;
        }   
    }
}

pep-textarea{
    ::ng-deep pep-textbox-icon{
        display:none;
    }
}


//  pep-flow-picker-button{
//     ::ng-deep.flow-button{
//         margin-bottom: variables.$spacing-lg;
//     }
//  }
// ::ng-deep .pep-reset-configuration-field-container{
//     margin-bottom: 0 !important;
// }
